.amazon {
  font-weight: bold;
  font-size: 35px;
  width: 23%;
  margin-left: 45%;
  margin-top: 30px;
}

.SignIn-container {
  border: 1px solid rgb(135, 131, 131);
  width: 23%;
  margin-left: 40%;
  padding-top: 20px;
  margin-top: 40px;
}

.sign {
  font-weight: 400;
  padding-left: 20px;
  font-size: 30px;
  padding-bottom: 30px;
}

.form {
  width: 80%;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.email-text {
  padding-left: 20px;
  font-size: 15px;
  font-weight: 500;
  /* padding-bottom: 5px; */
}

.continue-btn {
  width: 85%;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  background-color: rgb(244, 201, 121);
  font-weight: 450;
  border: 1px solid rgb(234, 164, 33);
}

.privacy-text {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
  font-weight: 500;
  margin-top: 20px;
}

.need {
  font-size: 12px;
  margin-top: 20px;
  font-weight: 450;
  padding-left: 20px;
  color: blue;
  padding-bottom: 20px;
}

.new-account {
  width: 23%;
  margin-left: 40%;
}

.new {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  font-weight: 500;
}

.create-btn {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  background-color: rgb(243, 249, 251);
  font-weight: 450;
  border: 1px solid rgb(143, 222, 251);
}

.create-btn:hover {
  cursor: pointer;
  background-color: rgb(198, 237, 250);
}
